Basi di dati/Schemi/code/xml-ex3.XML

<?xml version="1.1"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="libro">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="titolo" type="xsd:string"/>
    <xsd:element name="autore" type="xsd:string" maxOccurs="unbounded"/>
    <xsd:element ref="parte" maxOccurs="unbounded"/>
   </xsd:sequence>
   <xsd:attribute name="editore" type="xsd:string" use="required"/>
   <xsd:attribute name="pubblicazione" type="xsd:date"/>
   <xsd:attribute name="formato" default="paperback"/>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="paperback"/>
      <xsd:enumeration value="hardback"/>
     </xsd:restriction>
    </xsd:simpleType>
   <xsd:attribute/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name="parte">
  <xsd:choice>
   <xsd:element name="capitolo" type="xsd:string" maxOccurs="unbounded"/>
   <xsd:element name="appendice" type="xsd:string" maxOccurs="unbounded"/>
  </xsd:choice>
  <xsd:attribute name="numero" type="xsd:integer" use="required"/>
 </xsd:element>
</xsd:schema>